
// About me styles.
.about-me {
  padding: 3rem 0 4rem;

  h2 {
  	color: $black;
  	padding: 1em 0;
  	margin-bottom: 1.3rem;

    span {
      @include green-fade;
    }

  }

  p {
  	color: $body-black;
  	font-size: .875rem;
  	line-height: 1.5rem;
  }

  h4 {
  	color: $black;
  	font-size: .875rem;
  	font-weight: 100;

    span {
    	font-weight: 700;
    }

  }

  ul {
  	color: $body-black;
  	list-style-type: none;
  	padding-left: 0;
  	font-size: .875rem;
  	font-weight: 400;
  }

  hr {
  	margin: 2rem 0;
  	border-top: 1px solid $border;
  }

  .social {
  	padding: 0 .3rem;
  }

  .date {
  	font-size: .75rem;
  	font-weight: 700;
  	text-transform: uppercase;
  	text-align: right;
  	margin-top: .08rem;
  	padding-right: 1rem;
  }

  .experience {
  	font-size: .8rem;
  	color: $body-black;
  	margin-top: .4rem;

    .row {
      margin-bottom: 2rem;
    }

    .row.title {
    	margin-bottom: 0;
    }

    span {
    	font-weight: 700;
    }

  }

  .skill-set {
  	text-align: center;

    .forte,
    .secondary {
    	border-right: 1px solid $border;
    }

  }

  .email {
  	padding-right: 1rem;
  }

  .phone {
  	padding-left: 1rem;
  }

}
