
// Global styles.
html {
  font-size: 1rem;

  p a {
  	color: $orange;
  	transition: all .5s;
  }

  p a:hover {
  	color: $green;
  	text-decoration: none;
  }

  h1 {
  	font-size: 2.8rem;
  }

  h2 {
  	font-size: 1.6rem;
  }

  img {
    max-width: 100%;
  }

  .btn {
    background-color: $white;
    border: 1px solid $orange;
    color: $orange;
    font-weight: 700;
    text-transform: lowercase;
    font-size: .8rem;
    padding: .3rem 1rem .3rem;
  }

  .btn:hover {
    background-color: $green-neon;
    border: 1px solid $green-neon;
    color: $white;
  }

}
