
// Colors.
$black: #000;
$white: #fff;
$light-gray: #464646;
$dark-gray: #141414;
$box-shadow: #050505;
$border: #efefef;
$body-black: #3a3a3a;
$orange: #ff9752;
$green: #00cc86;
$green-neon: #00ccad;
