
// Recent work styles.
.recent-work {
  padding: 2rem 0 6rem;

  h2 {
  	margin-bottom: 2rem;
  	padding: 1rem;

    span {
      @include green-fade;
    }

  }

  .card {
  	border: 0;
  	font-size: .875rem;
  	line-height: 1.5rem;
  	overflow: hidden;

    .card-body {
    	background-color: $white;
      padding: 0;
    }

    .card-img-top {
      margin-bottom: 1.2rem;
    }

    .btn {
      width: 25%;
    }

    p {
      margin-bottom: 1rem;
    	color: $body-black;
    	font-size: .875rem;
    	line-height: 1.5rem;
    }

  }

  .card-img-top {
    height: 40px;
  }

  .steamboat {
    padding-right: 4rem;

    img {
      width: 70%;
    }

  }

  .park-city {
    padding: 0 2rem;

    img {
      width: 60%;
    }

  }

  .health-beginnings {
    padding-left: 4rem;

    img {
      width: 80%;
    }

  }

  .modal-body {
    padding: 2rem 1rem;

    p {
      margin-bottom: 1rem;
    	color: $body-black;
    	font-size: .875rem;
    	line-height: 1.5rem;
    }

    h6 {
      font-weight: 700;
      margin-bottom: .8rem;
    }

    ul {
      color: $body-black;
    	font-size: .8rem;
    	line-height: 1.5rem;
    }

  }

  .modal .btn a {
    color: $orange;
    display: block;
    transition: all .3s;
  }

  .modal .btn:hover a {
    color: $white;
    text-decoration: none;
  }

}
